ACCOUNT_DB_USERNAME=postgres
ACCOUNT_DB_PASSWORD=postgres
TRANSFER_DB_USERNAME=postgres
TRANSFER_DB_PASSWORD=postgres
CASH_DB_USERNAME=postgres
CASH_DB_PASSWORD=postgres
NOTIFICATION_DB_USERNAME=postgres
NOTIFICATION_DB_PASSWORD=postgres
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
ACCOUNT_SERVICE_CLIENT_SECRET=account-secret
TRANSFER_SERVICE_CLIENT_SECRET=transfer-secret
CASH_SERVICE_CLIENT_SECRET=cash-secret
