# Maven
target/
**/target/
!.mvn/wrapper/maven-wrapper.properties
**/.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Spring Boot / local runtime
logs/
*.pid
*.hprof

# Local environment files
.env
.env.*
!.env.example
ai/
application-local.yml
application-local.yaml
application-*.local.yml
application-*.local.yaml


# Docker local data
docker-data/
.docker/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini
